# Gradle files
.gradle/
build/
/*/build/
**/build/
local.properties
.navigation/
.gradle-instrumentation/

# Built artifacts
bin/
gen/
out/
*.apk
*.aar
*.aab
*.dex
*.class

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/out/

# Device/Emulator
/captures/
.externalNativeBuild/
.cxx/

# Keystores & sensitive info
*.jks
*.keystore
*.pk8
*.pem
google-services.json

# OS Files
.DS_Store
Thumbs.db
*.bak
*.tmp

# Profiling & Log files
*.log

